<header class="header">
      <div class="container">
            <div class="header__top">
                  <ul class="list">
                        <li class="list__item"> <a href="#">
                                    <img src="img/logo.png" alt="logo">
                              </a> </li>
                        <li class="list__item list__item--1"><span class="bold">100%</span> натурально</li>
                        <li class="list__item list__item--2"><span class="bold">100%</span> эффективно</li>
                  </ul>
            </div>
            <div class="header__bottom">
                  <h1 class="title">
                        Сколько раз за ночь ты можешь?
                  </h1>
                  <div class="cols">
                        <div class="product">
                              <h3 class="product__title">Пантомакс – каменный стояк
                                    для неприличных рекордов</h3>
                              <ul class="list">
                                    <li class="list__item">Мощная эрекция и потенция</li>
                                    <li class="list__item">Занимайся сексом сколько хочешь</li>
                                    <li class="list__item">Получай космические оргазмы</li>
                                    <li class="list__item">Гарантированный стояк <br>до 3-х часов</li>
                              </ul>
                              <img src="img/product.png" alt="product">
                        </div>
                        <div class="percent-sale">
                              <p class="text">Ваша потенция вернется через 21 день применения! Проверьте сами </p>
                        </div>
                        <div class="order">
                              <div class="timer">
                                    <div class="timer__count">
                                          <span class="numb numb--opacity">0</span><span class="numb">1</span><span
                                                class="numb">0</span>
                                    </div>
                                    <span class="timer__text">*Всего упаковок &nbsp;по акции </span>
                              </div>
                              <form class="form" action="/" method="get">
                                    <div class="form__header">
                                          <div class="value">
                                                <div class="old">
                                                      <small class="small">Полная цена</small>
                                                      <span class="price">1980<small class="price--small">руб</small></span>
                                                </div>
                                                <div class="new">
                                                      <small class="small">Цена со скидкой</small>
                                                      <span class="price">990<small class="price--small">руб</small></span>
                                                </div>
                                          </div>
                                    </div>
                                    <input class="input" type="text" name="name" placeholder="Введите ваше имя">
                                    <input class="input input--tel" type="tel" name="number" placeholder="Введите номер телефона">
                                    <button class="form__btn">
                                          <div class="arrow"><i class="fico fico-arr"></i></div> Заказать сейчас
                                    </button>
                                    <p class="text">
                                          Ваши данные под защитой SecureTECH
                                    </p>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</header>