<section class="problem">
   <div class="container">
      <h2 class="problem__title">Проблема <span class="color">ума</span> <span class="font">или</span> <span class="color">тела</span>?</h2>
      <p class="problem__text">Ответьте всего на 2 вопроса и узнайте свой тип импотенции</p>
      <div class="block">
         <h3 class="block__title"><span class="num">1</span> Как уменьшалась эрекция? </h3>
         <div class="wrap">
            <button class="block__btn">Постепенно</button>
            <button class="block__btn">Внезапно</button>
         </div>
      </div>
   </div>
</section>