.opinion
	color: $black-three
	margin-top: -30px
	.container
		padding-top: 33px
		padding-bottom: 37px
		padding-left: 40px
		background: #ffffff url('../img/opinion_back.png') no-repeat right center
		background-size: auto 100%
		border-radius: 10px
		overflow: hidden
		+r(991)
			padding-top: 15px
			padding-left: 20px
		+r(767)
			padding-top: 70px
			background-size: contain
			background-position: center top
		.content
			width: 62%
			+r(1199)
				width: 60%
			+r(991)
				width: 50%
			+r(767)
				width: 100%
				&__title
					margin-bottom: 100px
					width: 50%
			&__text
				font-size: 16px
				margin-bottom: 20px
				+r(991)
					margin-bottom: 10px
				&:last-of-type
					margin-bottom: 30px
					+r(991)
						margin-bottom: 20px
	.sign
		font-family: 'PTSans-BoldItalic', Verdana, Geneva, Tahoma, sans-serif
		position: relative
		margin-top: 30px
		+r(991)
			padding-bottom: 40px
		&::after
			content: ''
			display: block
			position: absolute
			+sprite($podpis)
			right: 50px
			top: -33px
			+r(991)
				top: 22px
				right: 67px